.Navbar {
    background-color: #e20d0d;
    overflow: hidden;
  }
  
  .Navbar a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .Navbar a:hover {
    background-color: #9f1818;
    color: black;
}